/* In the order encountered in the HTML */

body	{
	margin: 0;
	padding: 0;
	width: 400px;
	background: #202020;
}

.msg {
	padding: 2px;
	font-style: italic;
	vertical-align: middle;
	color: #a4a4a4;
	font-size: 13px;
}



/* Top section */

#header	{
	padding: 5px;
	height: 35px;
	background: #000000;
}

#table-header	{
	padding-right: 7px;
	width: 100%;
	font-family: Calibri, Arial;
	font-size: 14px;
	color: #c2c2c2;
	vertical-align: middle;
}

#logo {
	width: 175px;
}

#logo img {
	padding-top: 3px;
	width: 175px;
	height: 24px;
}

#header_signIn {
	width: 70px;
}

.headerButton:hover {
	color: #ffffff;
	cursor: default;
}

/* upcoming header */

#shortenedLogo {
	width: 45px;
}

#shortenedLogo img {
	padding-top: 3px;
	width: 41px;
	height: 24px;
	cursor: pointer;
}

#dateSelector {
	padding-left: 10px;
	cursor: default;
}

.dateSelect {
	color: #27a436;
}

#yesterdayUp {
	width: 60px;
	float: left;
	font-size: 13px;
	text-align: right;
}

#yesterdayUp:hover {
	color: #27a436;
}

#todayUp {
	margin-right: 7px;
	margin-left: 7px;
	width: 40px;
	text-align: center;
	float: left;
	font-size: 13px;
}

#todayUp:hover {
	color: #27a436;

}

#tomorrowUp {
	float: left;
	width: 60px;
	font-size: 13px;
	text-align: left;
}

#tomorrowUp:hover {
	color: #27a436;

}

#settings {
	padding-top: 1px;
	text-align: right;
	width: 30px;
}

#settings:hover {
	color: #ffffff;
}


/* Bottom section */

#bottom-background	{
	background: #202020;
}



/* Server information */

#server-login {
	min-height: 148px;
}

#table-login	{
	padding-top: 15px;
	font-family: Arial;
}

#table-login label	{
	color: #c2c2c2;
}

/* Server information input */

#table-login input	{
	margin: 2px 0 5px 0;
	padding: 5px;
	border: 1px solid #dad9d9;
}

#table-login input:focus {
	border: 1px solid #27a436;
	outline: none !important;
}

#setting_ip	{
	width: 200px;
}

#setting_port	{
	width: 60px;
}

/* Server information connect button */

#connect {
	margin-top: 7px;
	padding: 6.5px 13px;
	vertical-align: middle;
	color: white;
	font-size: 13px;
	border: 0;
	border-radius: 3px;
	background: #27a436;
}

#connect:hover {
	background: #20932e;
}

#connect:active {
	background: #197524;
}

#connect:focus {
    outline: none;
}



/* user-login */

#user-login {
	min-height: 148px;
}

/* Manual login */

#manualLogin {
	padding: 7px;
	text-align: center;
	color: #dad9d9;
	border: 1px solid transparent;
}

#manualLogin_text {
	font-size: 14px;
}

#manualLogin_text:hover {
	color: #ffffff;
	cursor: default;
}

/* Manual login sliding panel */

#panel {
	height: 110px;
	color: #27a436;
}

/* Manual login input */

#userLogin {
	padding-top: 20px;
	color: #dad9d9;
}

#userLogin #passInput label {
	font-family: Arial;
	color: #c2c2c2;
}

#userLogin #passInput input	{
	padding: 3px;
	font-size: 13px;
	border: 1px solid #dad9d9;
}

#userLogin #passInput input:focus {
	border: 1px solid #27a436;
	outline: none !important;
}



/* Password field buttons */

.passButton {
	margin-left: 2px;
	color: white;
	font-size: 13px;
	border: 0;
	border-radius: 3px;
	vertical-align: middle;
}

.passButton:focus {
	outline: none;
}

/* Password save button only */

#saveInput {
	padding: 3px 20px;
	background: #27a436;
}

#saveInput:hover {
	background: #20932e;
}

#saveInput:active {
	background: #197524;
}

/* Password cancel button only */

#cancelInput {
	padding: 3px 5px;
	background: #686868;
}

#cancelInput:hover {
	background: #5a5a5a;
}

#cancelInput:active {
	background: #4a4a4a;
}



/* Manual login save button */

#saveUser {
	margin-left: 2px;
	padding: 6.5px 13px;
	height: 50px;
	color: white;
	font-size: 13px;
	border: 0;
	border-radius: 3px;
	vertical-align: middle;
	background: #27a436;
}

#saveUser:hover {
	background: #20932e;
}

#saveUser:active {
	background: #197524;
}

#saveUser:focus {
    outline: none;
}



/* User list displayed */

#userSelect {
	text-align: center;
	vertical-align: bottom;
	overflow: auto;
	white-space: nowrap;
}

#userSelect a {
	display: inline-block;
	margin: 3px;
	opacity: 0.85;
	vertical-align: center;
	color: inherit;
	text-decoration: none;
	background: #ffffff;
}

#userSelect a:hover {
	opacity: 1;
	cursor: pointer;
}



/* User list poster images */

.posterItemImage {
	margin: 3px;
	width: 75px;
	height: 75px;
	background: #dad9d9 no-repeat center bottom;
	background-size: contain;
	position: relative;
}

.posterItemText {
	width: 75px;
	margin: 3px;
	font-size: 12px;
	overflow: hidden;
	text-shadow: none;
	white-space: nowrap;
}



/* User list scroll bar */

#userSelect::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #333333;
}

#userSelect::-webkit-scrollbar {
	height: 7px;
	background-color: #333333;
}

#userSelect::-webkit-scrollbar-thumb {
	background-color: #27a436;
}



/* Upcoming episode */

#noItems {
	font-size: 15px;
	color: #27a436;
	margin-top:9px;
}

#noItemsFrown {
	font-size:50px;
	color: #27a436;
}

#upcomingList {
	color: #dad9d9;
	margin: 5px;
	min-height: 115px;
	max-height: 346px;
	overflow: hidden;
	overflow-y: scroll;
	background-color: #202020;
}

.posterThumb {
	margin: 3px;
	padding: 2px 4px 2px 2px;
	display: inline-block;
	width: 370px;
	height: 105px;
	background-color: #333333;
}

.bannerItemImage {
	margin: 3px;
	width: 366px;
	height: 68px;
	overflow: hidden;
	background: #dad9d9 no-repeat center bottom;
	background-size: contain;
	position: relative;
}

.fa-stack {
	position: absolute;
	top: 5px;
	left: 165px;
	border-radius: 50%;
	color: #27a436;
	background-color: #ffffff;
}

.infoPanel {
	height: 30px;
	padding-top: 2px;
	padding-right: 3px;
}

.available {
	margin-left: 7px;
	padding: 0px 5px;
	height: 15px;
	color: white;
	font-size: 11px;
	border: 0;
	border-radius: 3px;
	vertical-align: middle;
	text-decoration: none;
	background: #27a436;
}

.seriesLink {
	text-align: left;
	float: left;
}

.seriesEp {
	margin-top: 1px;
	margin-left: 7px;
	text-align: left;
	float: left;
}

.airtime {
	margin-top: 1px;
	text-align: right;
	/*float: right;*/
}

/* Upcoming scroll bar */

#upcomingList::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #202020;
}

#upcomingList::-webkit-scrollbar {
	width: 7px;
	background-color: #202020;
}

#upcomingList::-webkit-scrollbar-thumb {
	background-color: #27a436;
}

/* Settings preferences */

#preferences {
	margin: 5px;
	padding-top: 15px;
	min-height: 115px;
}

#display_isWatched_text {
	font-size: 14px;
	color: #8c8c8c;
	text-align: left;
}

/* Save preferences */

#savePref {
	margin-top: 15px;
	padding: 3px 20px;
	color: white;
	font-size: 13px;
	border: 0;
	border-radius: 3px;
	vertical-align: middle;
	background: #27a436;
}

#savePref:hover {
	background: #20932e;
}

#savePref:active {
	background: #197524;
}

#savePref:focus {
    outline: none;
}